{% if authenticated %}
<div class="login-info" style="float:right">
    <a style="float:right" href="#">注销</a>
    <div style="float:right;padding:13px 10px">{{ username }}</div>
</div>
{% else %}
<div>
    <a style="float:right" href="#" onclick="document.getElementById('id01').style.display='block'">登录</a>
</div>
{% endif %}

<div id="id01" class="modal">

    <!-- Modal Content -->
    <form class="modal-content animate" method="post">
    {% csrf_token %}
        <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
            <button type="submit">Login</button>
        </div>

    </form>
</div>