{% extends 'site_base.html' %}

{% block title %}
- Repository
{% endblock title %}

{% block content %}
<div class="w3-bar w3-purple">
  <button class="w3-bar-item w3-button"
          onclick="location.href='{% url 'index_project' current_project.id genus_asset.id %}'">
      {{ genus_asset.info }}
  </button>
  <button class="w3-bar-item w3-button"
          onclick="location.href='{% url 'index_project' current_project.id genus_shot.id %}'">
      {{ genus_shot.info }}
  </button>
  <button class="w3-bar-item w3-button"
          onclick="location.href='{% url 'index_project' current_project.id genus_batch.id %}'">
      {{ genus_batch.info }}
  </button>
</div>

<div class="w3-container entity">
  <h2>{{ current_genus.info }}</h2>
  <p>London is the capital city of England.</p>
</div>
{% endblock content %}
