{% extends 'site_base.html' %}

{% block title %}
- Settings
{% endblock title %}

{% block content %}
<div class="content-settings">
    <section>
        <article>
            <h3>Project Information</h3>
            <form action="/api/project?next={{ current_path }}" method="post" class="w3-container">
                <input name="id" type="hidden" value="{{ current_project.id }}"/>
                <label><b>Name</b></label>
                <input name="info" type="text" value="{{ current_project.info }}" class="w3-input" style="margin-bottom:20px;background-color:#f1f1f1"/>
                <label><b>Codename</b></label>
                <input name="name" type="text" value="{{ current_project.name }}" class="w3-input" style="margin-bottom:20px;background-color:#f1f1f1"/>
                <label><b>Root Directory</b></label>
                <input name="root" type="text" value="{{ current_project.root }}" class="w3-input" style="margin-bottom:20px;background-color:#f1f1f1"/>
                <button type="submit" class="w3-btn w3-purple" style="margin-bottom:10px;width:100%">APPLY</button>
            </form>
            <h3>Asset Classification</h3>
            <form action="#" method="post" class="w3-container">
            {% for tag in tags %}
                <label>{{ tag.name }}</label>
            {% endfor %}
            </form>
            <h3>Stage Configuration</h3>
        </article>
    </section>
</div>
{% endblock content %}