{% extends 'site_base.html' %}
{% load samkit %}

{% block title %}
- Settings
{% endblock title %}

{% block content %}
<div class="content-settings">
    <section>
        <article>
            <h3>Project Information</h3>
            <form action="/api/project?next={{ current_path }}" method="post" class="w3-container">
                <input name="id" type="hidden" value="{{ current_project.id }}"/>
                <label><b>Name</b></label>
                <input name="info" type="text" value="{{ current_project.info }}" class="w3-input" style="margin-bottom:20px;background-color:#f1f1f1"/>
                <label><b>Codename</b></label>
                <input name="name" type="text" value="{{ current_project.name }}" class="w3-input" style="margin-bottom:20px;background-color:#f1f1f1"/>
                <label><b>Root Directory</b></label>
                <input name="root" type="text" value="{{ current_project.root }}" class="w3-input" style="margin-bottom:20px;background-color:#f1f1f1"/>
                <button type="submit" class="w3-btn w3-purple" style="width:80px;margin-bottom:10px;">APPLY</button>
            </form>
            <h3>Stage Configuration</h3>
            <div class="w3-container">
                {% for stage in stages %}
                <a href="{% url 'object_delete' stage.id %}?next={{ current_path }}">[{{ stage.name }}] {{ stage.info }}</a>
                {% empty %}
                <p>No stage found. Click ADD to create a new one.</p>
                {% endfor %}
                <button type="submit" class="w3-btn w3-purple" style="width:80px;margin-top:10px;margin-bottom:10px;">ADD</button>
            </div>
            <h3>Asset Category</h3>
            <div class="w3-container">
                {% for tag in tags %}
                    {% if tag.genus.name == 'asset' %}
                    <a href="#">[{{ tag.name }}] {{ tag.info }}</a>
                    {% endif %}
                {% empty %}
                <p>No asset category found. Click ADD to create a new one.</p>
                {% endfor %}
                <button type="button" class="w3-btn w3-purple" style="width:80px;margin-top:10px;margin-bottom:10px;">ADD</button>
            </div>
            <h3>Episode Configuration</h3>
            <div class="w3-container">
                {% for tag in tags %}
                    {% if tag.genus.name == 'shot' %}
                    <a href="#">[{{ tag.name }}] {{ tag.info }}</a>
                    {% endif %}
                {% empty %}
                <p>No episode found. Click ADD to create a new one.</p>
                {% endfor %}
                <button type="button" class="w3-btn w3-purple" style="width:80px;margin-top:10px;margin-bottom:10px;">ADD</button>
            </div>
        </article>
    </section>
</div>
{% endblock content %}